.intro{
    background-color:$mainColor;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

// menu
.menu{
    .navbar-toggler{
        border:transparent;
    }
}

// banner
.banner{
    img{
        width: 100%;
        padding: 0;
    }
}

// second nav
.second-nav{
    display: flex;
    justify-content: center;
    align-items: center ;
    ul{
        display:flex;
        padding: 0;
        gap:10px;
        width: 100%;
        justify-content: space-between;
        li{
            width: 33%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: .8em;
            border: solid 1px $mainColor;
            border-radius: 8px;
            list-style:none;
            text-align: center;
            background-color: $thirdColor;
    
            &:hover{
                background-color: $mainColor;
            }
            a{
                text-decoration: none;
                color: black;
            }
            span{display: block;

            }
        }
    }
}